# Accumulate

Calcaulte the sum of "quantity"

In [1]:
quantity = [6, 49, 27, 30, 19, 21, 12, 22, 21] 
sum = 0
for q in quantity:
    sum += q          # same as: sum = sum + q
print(sum)

207

# Map

Return 95% of values in unit_price upto 2 decimal places

In [18]:
unit_price = [38.94, 208.16, 8.69, 195.99]
discounted = list() # empty list
for price in UnitPrice:
    discounted.append(round(price * 0.95, 2))

# list comprehension shines here!!
discounted = [round(p*0.95, 2) for p in unit_price]

In [19]:
discounted

[36.99, 197.75, 8.26, 186.19]

# Combine

Multiply the i-th elements in quantity and unit_price.

In [20]:
quantity = [6, 49, 27, 30]
unit_price = [38.94, 208.16, 8.69, 195.99]

cost = []
for i in range(len(quantity)):
    cost.append( round(quantity[i] * unit_price[i], 2) )

cost = [round(quantity[i] * unit_price[i], 2) for i in range(len(quantity))]

In [21]:
cost

[233.64, 10199.84, 234.63, 5879.7]

# Split

Split list of full names into their first and last names

In [23]:
names = ['Terence Parr', 'Diane Woodbridge', 'Yannet Interian']
first = []
last = []
for name in names:
    f,l = name.split()
    first.append(f)
    last.append(l)

In [24]:
first

['Terence', 'Diane', 'Yannet']

In [25]:
last

['Parr', 'Woodbridge', 'Interian']

# Slicing

Return an element(s) in names using index

In [29]:
names=['Xue', 'Mary', 'Bob']
print(names[0:1])
print(names[0:2])
print(names[0:3])
print(names[2:3])
print(names[1:])
print(names[-1])
print(names[-2:])

['Xue']
['Xue', 'Mary']
['Xue', 'Mary', 'Bob']
['Bob']
['Mary', 'Bob']
Bob
['Mary', 'Bob']

# Filter

Return elements which is smaller than 10 in shipping

In [35]:
shipping = [35, 68.02, 2.99, 3.99, 5.94, 4.95, 7.72, 6.22]
affordable_shipping = []
for x in shipping:
    if x < 10:
        affordable_shipping.append(x)

affordable_shipping = [x for x in shipping if x < 10] # much easier

In [36]:
affordable_shipping

[2.99, 3.99, 5.94, 4.95, 7.72, 6.22]

Return elements in oscars where the 3rd element is 1

In [37]:
oscars = [
    [1984, "A Soldier's Story", 0],
    [1984, 'Places in the Heart', 0],
    [1984, 'The Killing Fields', 0],
    [1984, 'A Passage to India', 0],
    [1984, 'Amadeus', 1],
    [1985, "Prizzi's Honor", 0],
    [1985, 'Kiss of the Spider Woman', 0],
    [1985, 'Witness', 0],
    [1985, 'The Color Purple', 0],
    [1985, 'Out of Africa', 1]
]
print([movie for movie in oscars if movie[2]==1])

[[1984, 'Amadeus', 1], [1985, 'Out of Africa', 1]]

# Search

Return the index value in first where the value is equal to the target value.

In [41]:
first=['Xue', 'Mary', 'Robert']     # our given input
target = 'Mary'                     # searching for Mary
index = -1
for i in range(len(first)):         # i is in range [0..n-1] or [0..n)
    if first[i]==target:
        index = i
        break
print(index)

1

In [42]:
first.index(target) # Equivalent to the above

1

# Grid/matrix processing

In [46]:
nrows = 3
ncols = 3
# column j value varies more quickly than the row i value
for i in range(nrows):
    for j in range(ncols):
        print( i, j )

print("===")
# row i value varies more quickly than j
for j in range(ncols):
    for i in range(nrows):
        print( i, j )

0 0
0 1
0 2
1 0
1 1
1 2
2 0
2 1
2 2
===
0 0
1 0
2 0
0 1
1 1
2 1
0 2
1 2
2 2